

<div class="follower_view">
  <% unless user == current_user %>
    <div class="follower">
      <% if @notifications_follow.present? %>
        <span class="user-show-foll-notification"></span>
      <% end %>
      <% if @notifications_message.present? %>
        <span class="user-show-foll-notification"></span>
      <% end %>
      <div class="follow-btn-area">
         
        <% @room = room_check(user,current_user) %>
        <% if @room %>
          <%= link_to exist_room_path(@room.id),data: {"turbolinks"=>false} do %>
            <p class="following-name"><%= user.name %></p>
          <% end %>
        <% else %>
          <%= link_to room_path(current_user.id, user.id),data: {"turbolinks"=>false} do %>
            <p class="following-name"><%= user.name %></p>
          <% end %>
        <% end %>


      </div>
      <%= render 'users/follow-button', user: user %>
    </div>
    <div class="follow-modal hidden">
      <p><%= user.name %>さんのフォローを解除しますか？</p>
      <%= link_to unfollow_path(user), method: :post, remote: true do %> 
        <div class="unlock-btn">フォロー解除</div>
      <% end %>
      <div class="unlock-btn cancel">キャンセル</div>
    </div>
  <% end %>
</div>