<%= link_to "/events/#{event.id}",data: {"turbolinks"=>false} do %>
  <div class="title_date">
    <p><%= event.event_title %></p>
    <p class="follower-date"><%= event.date %></p>
  </div>
  <div class="follower-plofile">
    <% if event.user.image_name.size == 0 %>
      <%= image_tag "/assets/catman" %>
    <% else %>
      <%= image_tag event.user.image_name.url %>
    <% end %>
    <p class="follower-name"><%= event.user.name %></p>
  </div>
<% end %>