<% provide(:title, "MyPage") %>


<div class="my-page-section">

  <%= render 'users/user_profile', button: "一覧" ,style: "",path: "/users/#{@user.id}/our" %>


  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <li><a class="active" data-id="event">フォロー開催中</a></li>
        <li><a data-id="schedule">スケジュール</a></li>
      </ul>
      <section class="content active" id="event">
        <% if @f_event_pubs.count == 0 %>
          開催中のイベントはありません
        <% else %>
          <% @f_event_pubs.each do |e|%>
            
            <div class="follower">
              
              
              <%= render 'users/follower_view',event: e %>
              
            </div>
         
          <% end %>
        <% end %>
      </section>


      <section class="content" id="schedule">
        <% if @events.count == 0 && @schedule_list.count == 0 %>
          登録されているスケジュールはありません
        <% else %>
        <button id="count-btn">全表示中</button>

        <div id="pubEvent">
          <% @events_pub.each do |e| %>

            <div class="follower self-event">
              <% if @notifications_schedule.present? %>
                <span id="user-show-sche-notification"></span>
              <% end %>
              
                
              <%= render 'users/follower_view',event: e %>
              
            </div>
         
          <% end %>
          </div>

          <div id="notPubEvent">
          <% @events_notpub.each do |e| %>
            
            <div class="follower self-stand-event">
              
              <%= render 'users/follower_view',event: e %>

            </div>
         
          <% end %>
          </div>
          <div id="schedulingEvent">
          <% if @schedule_list.present? %>
            <% @schedule_list.each do |e| %>
              <div class="follower_view">
                <div class="follower">
                  

                  <%= render 'users/follower_view',event: e %>
                  
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>



<script>
// タブメニュー
$(document).on('turbolinks:load', function() { 
  const menuItems = document.querySelectorAll('.tab-menu li a');
  const contents = document.querySelectorAll('.content');

  menuItems.forEach(clickedItem => {
    clickedItem.addEventListener('click', e => {
      e.preventDefault();

      menuItems.forEach(item => {
        item.classList.remove('active');
      });
      clickedItem.classList.add('active');

      contents.forEach(content => {
        content.classList.remove('active');
      });

      document.getElementById(clickedItem.dataset.id).classList.add('active');
    });
  });

  const pubEvent = document.getElementById('pubEvent');
  const notPubEvent = document.getElementById('notPubEvent');
  const schedulingEvent = document.getElementById('schedulingEvent');
  let count = 1;
  const countBtn = document.getElementById('count-btn');
  if(countBtn){
    countBtn.addEventListener('click', function() {
      count++;
      if(count % 4 === 1 ){
        console.log("unko1");
        pubEvent.classList.remove("hidden")
        notPubEvent.classList.remove("hidden")
        schedulingEvent.classList.remove("hidden")
        countBtn.innerHTML = "全表示中";
      } else if(count % 4 === 2 ){
        console.log("unko2");
        pubEvent.classList.remove("hidden")
        notPubEvent.classList.add("hidden")
        schedulingEvent.classList.add("hidden")
        countBtn.innerHTML = "掲載中";
      } else if(count % 4 === 3 ){
        pubEvent.classList.add("hidden")
        notPubEvent.classList.remove("hidden")
        schedulingEvent.classList.add("hidden")
        console.log("unko3");
        countBtn.innerHTML = "未掲載";
      } else if(count % 4 === 0 ){
        pubEvent.classList.add("hidden")
        notPubEvent.classList.add("hidden")
        schedulingEvent.classList.remove("hidden")
        console.log("unko4");
        countBtn.innerHTML = "参加予定";
      }
    });
  }





  


});

</script>
